spring:
  output:
    ansi:
      enabled: ALWAYS
  application:
    name: guessers
  datasource:
    url: jdbc:postgresql://localhost:5432/guessers
    username: postgres
    password: mysecretpassword
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        show_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      resource-server:
        jwt:
          jwk-set-uri: http://localhost:8180/realms/guessers/protocol/openid-connect/certs
      client:
        provider:
          keycloak:
            issuer-uri: http://localhost:8180/realms/guessers
        registration:
          keycloak:
            client-id: backend-service
            client-secret: am2tPdVumodhqgfLajT2wiZHuYZaQ9ZM
            scope: openid
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"

keycloak:
  realm: guessers
  client: admin-cli
  auth-server-url: http://localhost:8180
  credentials:
    secret: 65XXNkgEwu8ObE5bqDy39K7KYyCFk7h8

oddsApi:
  key: a7814a2a1fc39c123ae9a7036043418b
